HTControlIRReceiver/Debug/
HTControlMainUnit/Debug/
*.suo
HTPCTrayApplication/HTControlHTPCTrayApplication/HTControlHTPCTrayApplication/bin/
HTPCTrayApplication/HTControlHTPCTrayApplication/HTControlHTPCTrayApplication/obj/
